@font-face {
  font-family: "fontGame";
  src: url("./font/Pony.ttf");
}

.bookingMovie {
  font-family: "fontGame";
}
.screen {
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
}
.gheThuong {
  display: flex;
  border: 3px solid #e9e9e9;
  background: white;
  width: 42px;
  height: 42px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}
.gheVip {
  display: flex;
  border: 3px solid orange;
  background: orange;
  width: 42px;
  height: 42px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}
.gheDaDat {
  display: flex;
  border: 3px solid #767676;
  background: #767676;
  color: #000;
  cursor: no-drop !important;
  border-radius: 5px;
  width: 42px;
  height: 42px;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.gheDangChon {
  display: flex;
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 42px;
  height: 42px;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
